<!DOCTYPE html>
<html lang="en">
<head>
    <title>Online Grocery Store</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <style>
        .navbar-back-icon {
            margin-right: 15px;
        }
    </style>
</head>
<body>

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- Back Icon -->
            <a href="javascript:history.back()" class="navbar-back-icon">
                <i class="fas fa-arrow-left"></i>
            </a>
            <a class="navbar-brand" href="{{ url_for('index') }}">Online Grocery Mart</a>
            <div class="navbar-collapse">
                <ul class="navbar-nav mr-auto">
         
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% block navbar_content %}
                    {% endblock %}
                </ul>
            </div>
        </nav>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ messages[0] }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
